@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui;
}

.header {
    width: 100%;
    border-bottom: 1px solid #afa599;
}

.border-left-line {
    border-left: 2px solid #000;
}

.nav-item a {
    font-size: 14px;
    ;
    font-family: "Poppins", system-ui;
}

.announcement {
    position: relative;
}

.announcement-left {
    font-size: 12px !important;
    margin-bottom: 0;
}

.announcement-right li {
    font-size: 14px !important;
    color: #000;
    font-family: "Poppins", system-ui;
}

/* .cart {
    font-size: 10px;
} */
.slide-box {
    display: flex;
    background-color: #1d1d1b;
}

.slide-heading {
    width: 50%;
}

.slide-img {
    width: 50%;
}

.slide-img img {
    width: 100%;
}

.slide-heading {
    transform: translatex(50%);
}

.slide-heading h2 {
    font-size: 51px;
    font-family: "Poppins", system-ui;
}

.primary-btn {
    display: inline-block;
    padding: 10px 15px;
    color: #00eab2;
}

.primary-btn:hover {
    color: #000
}

.secdary-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #00eab2;
    color: #000;
}

.secdary-btn:hover {

    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.form-control:focus {
    box-shadow: unset;
}

.dropdown-menu {
    min-width: 20px !important;
}

.menu-bar .nav-item {
    position: relative;
    margin-right: 8px;
    transition: all 0.5s;

}

.menu-bar .nav-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000;
    position: absolute;
    margin: auto;
    left: 50%;

    transform: translateX(-50%);
}

.menu-bar .nav-item:hover:after {

    width: 100%;
    transition: all 0.5s;

}

.menu-bar .nav-item:hover i {
    transform: rotate(180deg);
    transition: all 0.5s;

}

.menu-bar {
    position: relative;
}

.menu-bar .nav-item:hover .sub-menu {
    display: block;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    padding-inline: 5px;
}

.sub-menu {
    position: absolute;
    left: 0;
    background-color: #fff;
    z-index: 999;
    top: 120%;
    display: none;

}

.sub-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 150px;
}

.sub-menu li a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.sam {
    position: relative;
}

.header {
    width: 100%;
    border-bottom: 1px solid #afa599;
    position: relative;
}

.add-cart-box {
    position: relative;
}

.cart-circle {
    width: 20px;
    height: 20px;

    border: 1px solid #00eab2;
    background-color: #000;
    display: inline-block;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    right: -90%;
    top: -50%;
}

.banner .carousel-control-prev {
    left: 20%;
    top: 70%;
}

.banner .carousel-control-next {
    left: 25%;
    top: 70%;
}

.banner .carousel-control-next::after {
    font-family: 'Font Awesome 5 Free';
    /* Ensure correct font */
    font-weight: 900;
    /* Use this for solid icons */
    content: '\f105';
    /* Unicode for the icon */
    margin-left: 5px;
    /* Add space between text and icon */
    font-size: 40px;
}

.banner .carousel-control-prev::before {
    font-family: 'Font Awesome 5 Free';
    /* Ensure correct font */
    font-weight: 900;
    /* Use this for solid icons */
    content: '\f104';
    /* Unicode for the icon */
    margin-left: 5px;
    /* Add space between text and icon */
    font-size: 40px;
}

.dropdown-item:hover {
    color: #fff;
    background-color: blue;

}

.dropdown-menu {
    padding: 0px;
}

.sell-box {
    border: 1px solid #000;
}

.sell-box {
    border-top: none;
    position: relative;
}

.sell-box h4 {
    color: #00eab2;
    font-size: 12px;
}

.sell-box h2 {
    font-size: 18px;
}

.shop-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
}

.shop-icon a {
    background-color: #000;
    display: block;
    margin-top: 5px;
    padding: 4px;
    color: #fff;
    opacity: 0;
    transition: all .05s;
}

.sell-box:hover .shop-icon a {
    opacity: 1;
    transition: all .05s;
}
.sell-box1{
    width: 100%;
    justify-content: space-between;
}
.sell-box1 .sell-heading {
    position: relative;
}

.modern-accessories {
    background-color: #000;
}

.modern-accessories-heading {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding-top: 30px;
}

.modern-accessories-img {
    position: relative;
}

.modern-accessories-img::after {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1d1d1b7a;
    ;
    position: absolute;
}

.modern-accessories-img img {
    width: 100%;
    object-fit: cover;
}

.modern-content-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    z-index: 9999;
}

.form-section {
    padding-block: 35px;
    background: url("/img/main-home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* position: relative; */
    background-attachment: fixed;

   
}
.secdary-btn-form {
    padding: 10px 0px;

    background-color: #fff;
}

.secdary-btn-form input {
    outline: unset;
    border: unset;


}

.secdary-btn-form {
    max-width: 100%;
}

.secdary-btn-form .secdary-btn {
    border: none;

}
.blog .slick-prev:before,.blog .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #0f0f0f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.form-heading{
    color: #fff;
}
.footer-box ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-box h4{
    text-transform: uppercase;
    font-size: 16px;
}
.footer-box h2{
 font-weight: 800;
}
.footer-box h2 span{
    font-weight: 400;
   }
.footer-box ul li{
 margin-bottom: 10px;
}
.footer-box ul li a{
  color:#000;
  text-decoration: none;
   }
   .footer-social-link a {
    padding: 5px;
    background-color: #00eab2;
    color: #000;
    margin-right: 6px;
    transition: all 0.5s;
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    width:35px;
    height:35px;
    border-radius: 50%;
    text-decoration: none; 
    font-size: 16px; 
}

   .footer-social-link a:hover{
  
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
   }
   .payments a{
    text-decoration: none;
    color: #000;
   }

   .payments a {
    display: inline-flex;
    padding: 5px;
  }
  .payments svg {
    width: 38px;
    height: 24px;
  }
  .mobile-menu-bar ul {
list-style: none;
margin: 0;
padding: 0;
  }
  .mobile-menu-bar ul li{
   margin-bottom: 20px;
      }
      .mobile-menu-bar ul li a{
     text-decoration: none;
     color: #000;
           }
      
  